{% extends "common/layout.html" %}

{% block title %}An overview of key ideas{% endblock %}

{% block main %}

<main id="main-content">
  <h1>An overview of key ideas</h1>
  <p>
    This is an overview of linear algebra given at the start of a course on the mathematics of engineering.<br>
    
  </p>
  <p>
    Linear algebra progresses from vectors to matrices to subspaces.
  </p>

  <h2>Vectors</h2>
  <p>What do you do with vectors? Take combinations.<br>
    We can multiply vectors by scalars, add, and subtract.<br>
    Given vectors \(u\), \(v\) and \(w\),
    we can form the linear combination \(x_{1}u + x_{2}v + x_{3}w = b\).<br>
  </p>
  <p>
    An example of a vector of 3 real numbers \(\mathbb{R}^3\) would be:
    \[
      u = \mymat{1\\-1\\0}, v = \mymat{0\\1\\-1}, w = \mymat{0\\0\\1}
    \]
  </p>
  <p>
    The collection of all multiples of \(u\) forms a line through the origin.<br>
    The collection of all multiples of \(v\) forms another line.<br>
    The collection of all combinations of \(u\) and \(v\) forms a plane.<br>
    Taking <span class="nowrapi">all combinations</span> of some vectors creates a <i>subspace</i>.<br>
  </p>
  <p>
    We could continue like this, or we can use a matrix to add in all multiples of \(w\).
  </p>

  <h2>Matrices</h2>
  <p>
    Create a matrix \(A\) with vectors \(u\),\(v\) and \(w\) in its columns:
    \[A = \mymat{1&0&0\\-1&1&0\\0&-1&1}\]
    The product of \(A\) and \(x\) unknowns:
    \[
      Ax = \mymat{1&0&0\\-1&1&0\\0&-1&1}\mymat{x_1\\x_2\\x_3} = \mymat{x_1\\-x_1+x_2\\-x_2+x_3}
    \]
    equals the sum \(x_1u + x_2v + x_3w = b\).
  </p>
  <p>The product of a matrix and a vector is a combination of the columns of the matrix.</p>
  <p>
    When we say \(x_1u + x_2v + x_3w = b\), we're thinking about multiplying numbers by vectors.<br>
    When we say \(Ax = b\), we're thinking about multiplying a matrix 
    (whose columns are \(u\), \(v\) and \(w\)) by the numbers.
  </p>
  <p>The calculations are the same, but our perspective has changed.</p>
  <p>
    For any input vector \(x\), the output of the operation "multiplication by \(A\)" is some vector \(b\):
    \[
      A\mymat{1\\4\\9} = \mymat{1\\3\\5}
    \]
    A deeper question is to start with a vector b and ask
    "for what vectors \(x\) does \(Ax = b\)?"<br>
    In our example, this means solving three equations in three unknowns. Solving:<br>
    <div class="large-math">
      \[
        Ax 
          = \mymat{1&0&0\\-1&1&0\\0&-1&1}\mymat{x_1\\x_2\\x_3}
          = \mymat{x_1\\-x_1+x_2\\-x_2+x_3}
          = \mymat{b_1\\b_2\\b_3}
      \]
    </div>
    is equivalent to solving:
    \[
      \mysys{
        x_1 &= b_1 \\
        x_2 - x_1 &= b_2 \\
        x_3 - x_2 &= b_3
      }
    \]

    We see that \(x_1 = b_1\) and so \(x_2\) must equal \(b_1 + b_2\).<br>
    In vector form, the solution is:
    \[
      \mymat{x_1\\x_2\\x_3}
        = \mymat{
          b_1 \\
          b_1 + b_2 \\
          b_1 + b_2 + b_3
        }
    \]

    But this just says:
    \[
        x = \mymat{1&0&0\\1&1&0\\1&1&1}\mymat{b_1\\b_2\\b_3}
    \]
    or
    \[
        x = A^{-1}b
    \]

    If the matrix \(A\) is invertible, we can multiply on both sides by \(A^{-1}\) to find 
    the unique solution \(x\) to \(Ax = b\). 
    We might say that \(A\) represents a transform \(x \rightarrow b\) 
    that has an inverse transform \(b \rightarrow x\).<br>
    In particular, if \(b = \mymat{0\\0\\0}\), then \(x = \mymat{0\\0\\0}\)
  </p>
  <p>
    The second example has the same columns \(u\) and \(v\), 
    but replaces a column vector \(w\):
    \[C = \mymat{1&0&-1\\-1&1&0\\0&-1&1}\]
    Then:
    \[
      Cx = \mymat{1&0&-1\\-1&1&0\\0&-1&1}\mymat{x_1\\x_2\\x_3}
      = \mymat{x_1-x_3\\x_2-x_1\\x_3-x_2}
    \]
    and our system of three equations in three unknowns becomes <i>circular</i>.
  </p>
  <p>
    Where before \(Ax = 0\) implied \(x = 0\), 
    there are non-zero vectors \(x\) for which \(Cx = 0\). 
    For any vector \(x\) with \(x_1 = x_2 = x_3, Cx = 0\). 
    This is a significant difference; 
    we can't multiply both sides of \(Cx = 0\) by an inverse to find a non-zero solution \(x\).<br>
  </p>
  <p>
    The system of equations encoded in \(Cx = b\) is:
    \[
      \mysys{
        x_1 - x_3 &= b_1 \\
        x_2 - x_1 &= b_2 \\
        x_3 - x_2 &= b_3
      }
    \]
    If we add these three equations together, we get:
    \[0 = b_1 + b_2 + b_3\]
    This tells us that \(Cx = b\) has a solution \(x\) 
    only when the components of \(b\) sum to 0.<br>
    In a physical system, this might tell us that the system is stable as long as 
    the forces on it are balanced.
  </p>

  <h2>Subspaces</h2>
  <p>
    Geometrically, the columns of \(C\) lie in the same plane 
    (they are <i>dependent</i>; the columns of A are <i>independent</i>). 
    There are many vectors in \(\mathbb{R}^3\) which do not lie in that plane. 
    Those vectors cannot be written as a linear combination of the columns of \(C\) 
    and so correspond to values of \(b\) for which \(Cx = b\) has no solution \(x\). 
    The linear combinations of the columns of \(C\) form 
    a two dimensional subspace of \(\mathbb{R}^3\).
  </p>
  <p>
    This plane of combinations of \(u\), \(v\) and \(w\) 
    can be described as "all vectors \(Cx\)". 
    But we know that the vectors \(b\) for which \(Cx = b\) satisfy 
    the condition \(b_1 + b_2 + b_3 = 0\). 
    So the plane of all combinations of \(u\) and \(v\) 
    consists of vectors whose components sum to 0.
  </p>
  <p>
    If we take all combinations of:
    \[
      u = \mymat{1\\-1\\0}, v = \mymat{0\\1\\-1}, w = \mymat{0\\0\\1}
    \]
    we get the entire space \(\mathbb{R}^3\); 
    the equation \(Ax = b\) has a solution for every b in \(\mathbb{R}^3\). 
    We say that \(u\), \(v\) and \(w\) form a <i>basis</i> for \(\mathbb{R}^3\).
  </p>
  <p>
    A <i>basis</i> is a collection of n independent vectors in \(\mathbb{R}^n\).<br>
    Equivalently, a basis is a collection of \(n\) vectors whose 
    combinations cover the whole space.<br>
    Or, a collection of vectors forms a basis whenever a matrix 
    which has those vectors as its columns is invertible.
  </p>
  <p>
    A <span class="nowrapi">vector space</span> is a collection of 
    vectors that is closed under linear combinations.<br>
    A <i>subspace</i> is a vector space inside another vector space; 
    a plane through the origin in \(\mathbb{R}^3\) is an example of a subspace. 
    A subspace could be equal to the space it's contained in; 
    the smallest subspace contains only the zero vector.
  </p>
  <p>
    The subspaces of \(\mathbb{R}^3\) are:
    <ul>
      <li>the origin</li>
      <li>a line through the origin</li>
      <li>a plane through the origin</li>
      <li>all of \(\mathbb{R}^n\)</li>
    </ul>
  </p>

  <h2>Conclusion</h2>
  <p>
    When you look at a matrix, try to see <span class="nowrap">"what is it doing?"</span>
  </p>
  <p>
    Matrices can be rectangular; we can have seven equations in three unknowns. 
    Rectangular matrices are not invertible, 
    but the symmetric, square matrix \(A^{T}A\) that often appears when studying 
    rectangular matrices may be invertible.
  </p>

</main>

{% endblock %}